body {
  background-image: url('../images/chaves.jpg');
  background-blend-mode: luminosity, multiply;
  background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: cover;
}

h1 {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: center;
  text-transform: uppercase;
  color: whitesmoke;
  background-color: rgba(0, 0, 0, 0.322);
  margin-top:20%;
}